$메인색상: #ff0000;

.red {
  color: $메인색상;
}

//애니메이션 시작 때 적용
.wow-enter {
  opacity: 0;
  transform: scale(0.9);
}

//애니메이션 동작 때 적용
.wow-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

@mixin 함수() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  p {
    margin: 0;
  }
}

.my-alert {
  @include 함수();
}

// 복 붙
.my-alert-red {
  @extend .my-alert;
  background-color: #ffe591;
}
